/* === 전체 기본 스타일 초기화 === */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
}

/* === 헤더 영역 설정 === */
header {
    position: absolute;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    width: 100%;
    z-index: 3; /* 다른 요소 위에 표시 */
}

/* 헤더 내부 컨테이너 정렬 */
header div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    box-sizing: border-box;
}

/* 로고 또는 제목 텍스트 */
header div h1 {
    font-size: 20pt;
    font-weight: 700;
    color: white;
}

/* 네비게이션 링크 정렬 */
header div nav {
    width: 70%;
    position: absolute;
    display: flex;
    justify-content: center;
}

/* 네비게이션 링크 스타일 */
header div nav a {
    margin: 0 20px;
    color: white;
    font-size: 12pt;
}

